/*
* 1. Navigation
* 2. Header 
* 3. Promos
* 4. Menu
* 5. Library
* 6. About us
* 7. Contact
* 8. Footer
*/
* {
	padding: 0px;
	margin: 0px;   /* removing browsers default settings*/
	border: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-image: url('headerbg.png');
	background-attachment: fixed;
}
h1 {
	font-family: 'Plafair Display', serif;
	font-size: 1.5em;
}
h3 {
	font-family: 'Plafair Display', serif;
	font-size: 1.2em;
}
  /* 1. Navigation */
.navigation {
	padding: 20px;
	padding-right: 30px;
    background-color: #281d21;
	text-align: center;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	width: 100%;
}
.navigation li {
    display: inline;
	font-size: 1.2em;
	background-color: #281d21;
}

.navigation li a {
    color: #f1f1f1;
    padding: 10px 20px;
    text-decoration: none;
	border-radius: 3px;
}

.navigation li a:hover,
.navigation li a:focus {
    background-color: #f1f1f1; 
    color: #281d21;
	transition: background-color .5s;
}

   /* 2. HEADER */
header {
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	color: #e7e7e2;
	border: none;	
}
#logo {
	margin: 110px 40px 40px 40px;
}
#logo img {
	height: 120px;
	display: block;      
    margin-left: auto;
    margin-right: auto;
}

   /* 3. Promos */
.container {
	max-width: 500px;
	margin: auto;
	display: block;
	float: center;
}
#home {
	background-color: #281d21;
	padding: 20px;
}
.promo {
	padding: 20px;
	text-align: center;
	
}
.promo > div {
	display: inline-block;
	margin: 20px;
	
}
.promo img {
	max-height: 300px;
}
.promo-text {
	font-size: 1.2em;
	background-color: #f1f1f1;
	padding: 20px;
}	

   /* 4. Menu */
#menu {
	text-align: center;
	color: #281d21;
	margin: auto;
	display: block;
	max-width: 1000px;	
	margin-top: 50px;
	margin-bottom: 50px;
}
#menu span {
	font-size: 2.5em;
	color: #f1f1f1;
}
#menu-title {
	text-shadow: 0px 0px 10px #281d21;
	padding: 10px;
	text-align: center;
	max-width: 1000px;
}
.menu-icon {
	margin-bottom: 20px;
	text-align: center;
	height: 80px;
	width: 80px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}
.menu-icon-mini {
	display: block;
	float: right;
	padding-left: 30px;
}
th {
	vertical-align: center;
}
#menu th > img {
	margin-left: 40px;
	margin-right: 0;
	margin-bottom: 20px;
	height: 30px;
}
.menu-item {
	text-align: right;
	background-color: #f1f1f1;
	display: inline-block;
	padding: 20px;
	border-radius: 20px;
	width: 25%;
	min-width:200px;
	margin: 10px;
}
.menu-item table {
	margin: auto;
}
   /* 5. Library */
#library {
	padding: 30px;
	background-color: #281d21;
}
.lib-section {
	margin: 20px;
	text-align: center;
	display: block;
	margin: auto;
}
.lib-img img{
	width: 450px;
	box-shadow: 0px 0px 10px;
	
}
.lib-text,
.lib-img {
	display: inline-block;
	padding: 20px;
}
.lib-text {
	font-size: 1em;
	color: white;
	vertical-align: top;
	text-indent: 30px;
}
@font-face {
	
}
.lib-text h3 {
	font-family: 
	color: #e7e7e2;
	font-weight: bold;
	font-size: 1.5em;
}
   /* 6. About us */
#about-us {
	
}
   /* 7. Contact */
#contact {
	background-color: #281d21;
	margin: auto;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}
.title {
	font-size: 2.5em;
	text-align: center;
	color: #f1f1f1;
	padding: 10px;
}
#open-hours,
#address {
	font-style: bold;
	
	color: #ffff66;
	display: inline-block;
	margin: 20px;
	vertical-align: top;
	text-align: left;
	width: 200px;
}
#address h3 {
	text-transform: uppercase;
}
#open-hours h3 {
	text-align: right;
	text-transform: uppercase;
}
#open-hours ul{
	list-style: none;
	text-align: right;
}
#contact-info {
	display: block;
	margin: auto;
}
.contact-form {
	padding: 20px;
	margin: auto;
}
.form-column {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
.form-group input{
	margin: 10px;
	display: block;
	padding: 10px;	
	background-color: #f1f1f1;
	width: 200px;
	
}
.form-control {
	padding: 10px;
	margin: 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	border: 3px solid #ffff66;
}
#comment {
	width: 300px;
}
button {
	padding: 10px 20px;
	border-radius: 3px;
	background: #ffff66;
	font-weight: bold;
	color: black;
	margin: 10px;
	margin-left: 20px;
	vertical-align: top;
}

   /* 8. FOOTER */
footer {
	height: 80px; 
	font-size: 0.8em;
	text-align: center;
}
.copyright {
	padding: 30px;
	color: #f2f2f2;
}
.copyright a, a:hover,
a:focus {
	color: white;
}
